:root {
   --subfont: 'Staatliches', sans-serif;
   --mainfont: 'Nunito Sans', sans-serif;
   --accent1: #fff600;
   --accent2: #ffcc00;
   --timerDur: 10s;
}

body {
   margin: 0;
   width: 100vw;
   height: 100vh;
   background: #333;
   background: radial-gradient(#4000 30%, #400A), repeating-conic-gradient(var(--accent1) 0deg, var(--accent1) 10deg, var(--accent2) 10deg, var(--accent2) 20deg);
}

.main {
   width: 800px;
   height: 85vh;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #FFF;
   border-radius: 30px;
   padding: 20px;
   box-shadow: 0 10px 50px #0008, 0 0 10px #0008 inset;
   border: 15px solid #444;
}

.frontpage {
   width: 600px;
   height: 60vh;
}

a {text-decoration: none;}

h1 {
   font-family: 'Anton', sans-serif;
   text-transform: uppercase;
   font-size: 90px;
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
   letter-spacing: 15px;
   width: 100%;
   text-align: center;
   margin: 0;
   line-height: 90px;
   color: #000;
}

h2 {
   font-family: var(--mainfont);
   font-size: 50px;
   float: left;
   clear: both;
   margin-top: 30px;
   text-align: center;
}

h3 {
   font-family: var(--subfont);
   font-size: 30px;
   margin: 0;
   float: left;
   margin-top: 20px;
   color: #888;
   letter-spacing: 2px;
}

h4 {
   font-family: var(--mainfont);
   font-size: 20px;
}

#htp {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
}

#instruct {
   width: 90%;
   position: absolute;
   top: 200px;
   left: 50%;
   transform: translate(-50%);
   font-size: 25px;
   font-family: var(--mainfont);
   text-align: center;
}

#big {
   font-size: 150px;
   color: #5380FC;
   letter-spacing: 20px;
}

#title {
   opacity: 0;
   animation: type 1ms linear forwards 2000ms;
}

.anim {
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: disappear 1ms linear forwards 2000ms;
}

.anim span {
   font-family: Arial, sans-serif;
   font-size: 30px;
   font-weight: bold;
   opacity: 0;
   animation: type 1ms linear forwards;
}

#t1 {animation-delay: 200ms;}
#t2 {animation-delay: 300ms;}
#t3 {animation-delay: 400ms;}
#t4 {animation-delay: 500ms;}
#t5 {animation-delay: 600ms;}
#t6 {animation-delay: 700ms;}
#t7 {animation-delay: 800ms;}
#t8 {animation-delay: 900ms;}
#t9 {animation-delay: 1000ms;}
#t10 {animation-delay: 1100ms;}
#t11 {animation-delay: 1200ms;}
#t12 {animation-delay: 1300ms;}
#t13 {animation-delay: 1400ms;}
#t14 {animation-delay: 1500ms;}
#t15 {animation-delay: 1600ms;}
#t16 {animation-delay: 1700ms;}
#t17 {animation-delay: 1800ms;}
#t18 {animation-delay: 1900ms;}
#t19 {animation-delay: 2000ms;}

.mainButtons {
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.gamebutton {
   padding: 10px 20px;
   background: #05F;
   text-align: center;
   color: #000;
   border-radius: 10px;
   font-family: var(--subfont);
   font-size: 40px;
   margin: 40px;
   cursor: pointer;
}

.start {background: #16CE44;}
.start:hover {background: #27DF55;}
.howto {background: #F40000;}
.howto:hover {background: #F54444;}

.namecon {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   text-align: center;
}

.answers {
   width: calc(100% - 40px);
   position: absolute;
   bottom: 40px;
   left: 20px;
}

.choices {
   width: 100%;
   float: left;
}

.option {
   width: 48%;
   height: 100px;
   margin: 1%;
   float: left;
   background: #999;
   border-radius: 10px;
   font-family: var(--mainfont);
   color: #FFF;
   font-weight: bold;
   font-size: 20px;
}

.o1 {background: #F40000;}
.o2 {background: #FFCE30;}
.o3 {background: #4056F4;}
.o4 {background: #00E007;}

.option p {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   margin: 0;
   text-decoration: none;
}

.timerCon {
   width: calc(100% - 40px);
   height: 10px;
   background: #FFF;
   position: absolute;
   bottom: 20px;
   left: 20px;
   animation: coveranswers 100ms ease-in-out forwards;
   animation-delay: var(--timerDur);
}

.duration {
   width: 100%;
   height: 10px;
   position: absolute;
   top: 0;
   left: 0;
   background: red;
   animation: countdown var(--timerDur) linear forwards;
}

.failed {
   height: 0px;
   overflow: hidden;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: open 10ms ease-in forwards;
   animation-delay: calc(var(--timerDur) + 100ms);
}

.o5 {
   width: 290px;
   height: 90px;
   margin: 0;
   border: 5px solid #F00;
   color: #FFF;
   background: #F00;
}

.results {
   float: left;
   width: 100%;
   text-align: center;

}

.results h2 {
   text-align: center;
   float: none;
   color: #FFF;
   border-radius: 10px;
   margin-left: auto;
   margin-right: auto;
   width: 300px;
   text-transform: uppercase;
}

.results .correct {background: #16CE44;}
.results .incorrect {background: #F40000;}

.results p {
   clear: both;
   font-family: var(--mainfont);
   font-size: 30px;
   text-align: center;
}

.results p:first-of-type {
   font-family: var(--subfont);
   text-transform: uppercase;
}

.buttonCon {
   position: absolute;
   bottom: 20px;
   left: 20px;
   width: calc(100% - 40px);
}

.button {
   position: absolute;
   bottom: 0;
   background: yellow;
   padding: 0px 30px;
   font-family: var(--mainfont);
   font-size: 30px;
   border-radius: 10px;
   color: #FFF;
}

.home {
   left: 0;
   background: #EF2525;
}

.next {
   right: 0;
   background: #264EEF;
}

.sparkleCon {
   width: 100%;
   height: 300px;
   position: absolute;
   left: 0;
   overflow: hidden;
}

.sparkle {
   width: 900px;
   height: 900px;
   background: repeating-conic-gradient(#FF0F 0deg, #FF0F 10deg, #FFF0 10deg, #FFF0 20deg), radial-gradient(#FF0F, #FF00 30%);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: spinner 30s infinite linear;
}

.sparklefade {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: radial-gradient(#FFF0, #FFFF 60%);
}

.congrats {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: zoom 1s cubic-bezier(0.725, 0.000, 1.000, 0.825) forwards;
   text-transform: uppercase;
}

.congrats h2 {
   font-size: 100px;
   color: #FF0;
   margin: 0;
   text-shadow: 5px 5px #FFF, -5px 5px #FFF, 5px -5px #FFF, -5px -5px #FFF;
}

@keyframes countdown {
   0%    {width: 100%;}
   100%  {width: 0%;}
}

@keyframes coveranswers {
   0%    {height: 500px;}
   100%  {height: 500px;}
}

@keyframes open {
   0%    {width: 300px; height: 0px;}
   100%  {width: 300px; height: 100px;}
}

@keyframes spinner {
   0%    {transform: translate(-50%, -50%) rotate(0deg);}
   50%   {transform: translate(-50%, -50%) rotate(180deg);}
   100%  {transform: translate(-50%, -50%) rotate(360deg);}
}

@keyframes zoom {
   0%    {transform: translate(-50%, -50%) scale(0);}
   100%  {transform: translate(-50%, -50%) scale(1);}
}

@keyframes type {
   0%    {opacity: 0;}
   100%  {opacity: 1;}
}

@keyframes disappear {
   0%    {opacity: 1;}
   100%  {opacity: 0;}
}

@-webkit-keyframes countdown {
   0%    {width: 100%;}
   100%  {width: 0%;}
}

@-webkit-keyframes coveranswers {
   0%    {height: 500px;}
   100%  {height: 500px;}
}

@-webkit-keyframes open {
   0%    {width: 300px; height: 0px;}
   100%  {width: 300px; height: 100px;}
}

@-webkit-keyframes spinner {
   0%    {transform: translate(-50%, -50%) rotate(0deg);}
   50%   {transform: translate(-50%, -50%) rotate(180deg);}
   100%  {transform: translate(-50%, -50%) rotate(360deg);}
}

@-webkit-keyframes zoom {
   0%    {transform: translate(-50%, -50%) scale(0);}
   100%  {transform: translate(-50%, -50%) scale(1);}
}

@-webkit-keyframes type {
   0%    {opacity: 0;}
   100%  {opacity: 1;}
}

@-webkit-keyframes disappear {
   0%    {opacity: 1;}
   100%  {opacity: 0;}
}
